.center-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#main-table {
    width: 850px;
    height: 1300px;
    background-color: rgb(28, 19, 78);
    display: table;
}

#table1 {
    margin-top: 800px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 850px;
    height: 1400px;
    display: table;
    padding: 2px;
    background-color: beige;
}

